<h3> Creditos del Portal  <%= title %></h3>

<img src="/images/portalQuiz.jpg"
	width="100" height="50" border="3"><p>

Este portal Quiz esta siendo desarrollado por <h4>Deiby Erasmo Obando Portilla</h4> para el curso: Desarrollo de Servicios en la Nube con HTML5, JavaScript y Node.js.<p>

<h6>Junio de 2015</h6>

<a href="/"> Inicio </a>

